<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.sonson.HomeConMenu.coffee</key>
	<string>coffee</string>
	<key>com.sonson.HomeConMenu.beer</key>
	<string>beer</string>
	<key>com.sonson.HomeConMenu.newDevice</key>
	<string>new device</string>
</dict>
</plist>
